body {
  background-color: #121212;
  color: #e0e0e0;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
  font-size: 25px;
}

.links {
  background-color: #1f1f1f;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  list-style-position: inside;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
}

.links ul,
.ingredients ul,
.steps ol {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  list-style: none;
}

.links li {
  margin-bottom: 10px;
}
.links a {
  color: #ffffff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.ingredients ul,
.steps ol,
.description p {
  display: inline-block;
  background-color: #1f1f1f;
  padding: 20px;
}

.steps ol,
.description p {
  width: 25%;
  word-wrap: normal;
}

.steps li,
.ingredients li {
  margin-bottom: 10px;
}
